<%- include('partials/header') %>

    <!-- Header Section -->

    <section id="header">

      <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><img class="logo-image"  src="images/logo.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href=""><b>Download</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><b>About Us</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><b>Contact </b></a>
            </li>
          </ul>
        </div>
      </nav>

    </section>

    <!-- Features -->

    <section id="features">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <a href="/getStarted"><i class="fas fa-check-circle fa-4x  features-button"></i></a>
            <h3>Get Started</h3>
            <p class="features-description">So easy to use, even your dog could do it.</p>
          </div>

          <div class="col-lg-4">
            <a href="/login"><i class="fas fa-sign-in-alt fa-4x features-button"></i></a>
            <h3>Login</h3>
            <p class="features-description">We have all the dogs, the greatest dogs.</p>
          </div>

          <div class="col-lg-4">
            <a href="/register"><i class="fas fa-user-plus fa-4x features-button"></i></a>
            <h3>Signup</h3>
            <p class="features-description">Find the love of your dog's life or your money back.</p>
          </div>
        </div>
      </div>

    </section>

    <!-- Footer -->

    <footer id="footer">

      <div>
         <a class="social-media-button footer-button" href="#"><i class="fab fa-twitter fa-3x"></i></a>
         <a class="social-media-button footer-button" href="#"><i class="fab fa-facebook-f fa-3x"></i></a>
         <a class="social-media-button footer-button" href="#"><i class="fab fa-instagram fa-3x"></i></a>
         <a class="social-media-button footer-button" href="#"><i class="fas fa-envelope fa-3x"></i></a>
      </div>
      <p class="footer-text">©2020 collegeConnects</p>

    </footer>


<%- include('partials/footer') %>
